.avatar {
  div {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;   
    color: #130f02b8;
  }
}

.avatar:hover { 
  cursor: pointer; 
}

