.savedContainer { 
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #7979790e;
  margin: 0 auto;
  padding-bottom: 210px;
  max-width: 905px;

  .savedTitle {
    margin: 25px 0 20px 0;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    .count {
      color: #a1a1a1;
    }
  }

  .noAuth {
    color: #a1a1a190;
    font-size: 18px;
    text-align: center;
  }

  .spinner {
    padding: 50px 0;
    text-align: center;
  }
}