.container {
  max-width: 905px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  border: 1 solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #7979790e;
  padding: 15px 0 30px 0;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    .avatar {
      border: 3px solid #349a89;
    }

    .name {
      margin-top: 20px;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #141414;
    }
    .location {
      margin-top: 5px;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      color: #9099a7;
    }

    .statsBlock {
      margin-top: 30px;
      display: flex;
      max-width: 487px;
      max-height: 75px;
      height: 100%;
      width: 100%;
      position: relative;

      .stats {
        height: 75px;
        flex-basis: 33%;
        border: 1px solid #eeeff1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Rubik, sans-serif;

        .bottomText {
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
          line-height: 15px;
          color: #9099a7;
        }
        .feedback {
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 26px;
          color: #3cb255;
        }
        .sales {
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 26px;
          color: #349a89;
        }
      }

      .active {
        background: #349a89;
        border: 1 solid #eeeff1;
        box-sizing: border-box;
        font-family: Rubik;
        .activeCount {
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: #ffffff;
        }
        .activeBottom {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #ffffff;
        }
      }
      .active::after {
        content: ' ';
        position: absolute;
        height: 11px;
        width: 11px;
        background: #349a89;
        bottom: -5px;
        border-bottom: 1px solid #eeeff1;
        border-right: 1px solid #eeeff1;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}
