.productsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
  justify-content: space-between;
}

.productsWrapper > * {
  margin: 5px 0;
}

@media screen and (max-width: 870px) {
  .productsWrapper {
    justify-content: center;
  }

  .productsWrapper > * {
    margin: 0 5px 10px 5px;
  }
}

@media screen and (max-width: 450px) {
  .productsWrapper {
    display: flex;
    flex-direction: column;
  }
  
  .productsWrapper > * {
    margin: 5px 0 5px 0;
  }
}
