.incomingMessage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  .messageContainer {
    position: relative;

    .message {
      max-width: 265px;
      width: fit-content;
      border-radius: 4px;
      background-color: #349a89;

      .text {
        color: #ffffff;
      }
    }
    .message::before {
      content: ' ';
      position: absolute;
      left: -10px;
      top: 6px;
      width: 0;
      height: 0;
      border-top: 11px solid #349a89;
      border-left: 11px solid transparent;
    }

    .time {
      text-align: left;
    }
  }
}

.outgoingMessage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .messageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .message {
      max-width: 265px;
      width: fit-content;
      border-radius: 4px;
      background-color: #ffffff;

      .text {
        color: #131314;
      }
    }
    .message::before {
      content: ' ';
      position: absolute;
      right: -10px;
      top: 6px;
      width: 0;
      height: 0;
      border-top: 11px solid #ffffff;
      border-right: 11px solid transparent;
    }
  }
}

.text {
  text-align: left;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.time {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
  text-align: right;
  color: #97a3b4;
}
